@tailwind base;
@tailwind components;
@tailwind utilities;

s html,
body,

html,
body {
    margin: 0;
    padding: 0;
}

#root {
    transform: scale(1.05);
    transform-origin: top left;
    width: calc(100% / 1.05);
    height: calc(100% / 1.05);
    min-height: 100vh;
}

body {
    /* background:var(--bgLight); */
    font-family: Inter, Arial, sans-serif
}

.app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1
}

.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 300px;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}