@tailwind base;
@tailwind components;
@tailwind utilities;

s html,
body,
#root {
    /* height:100%; */
    min-height: 100%;

}

html {
    zoom: 1.05;
    /* 110% */
}

body {
    /* background:var(--bgLight); */
    font-family: Inter, Arial, sans-serif
}

.app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1
}

.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 300px;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}