@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1f5fbf;
    --primary-light: #e6f0ff;
    --secondary: #3B82F6;
    --bgLight: linear-gradient(180deg, var(--primary-light) 0%, var(--surface) 100%);
    --accent: #60A5FA;
    --bg: #f7fbff;
    --surface: rgb(255, 255, 255);
    --onPrimary: #ffffff;
    --text: #123a6b;
    --lightgrey: #f4f4f4ff;

    --primary: #1E88E5;
    --secondary: #9ACD32;
    --thridColor: #005985;
    --fourthColor: #006395;
    --accent: #9ACD32;
    --bg: #ffffff;
    --surface: #fbfbfbff;
    --text: #212121;
}

.secondaryColor {
    color: var(--secondary);
}

.thridColor {
    color: var(--thridColor);
}

.fourthColor {
    color: var(--fourthColor);
}

s html,
body,
#root {
    /* height:100%; */
    min-height: 100%;

}

body {
    /* background:var(--bgLight); */
    font-family: Inter, Arial, sans-serif
}

.app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1
}

.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 300px;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}